body {
  background-color: #282c34;
  padding-top: 100px;
}

input {
  margin-right: 10px;
}

button {
  margin: 5px;
  font-size: calc(5px + 2vmin);
  font-weight: 600;
}

.App {   
  color: white;
  text-align: center;
  font-size: calc(10px + 2vmin);
  /* display: flex;
  flex-direction: column; */
}

